* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app {
	height: 100%;
	width: 100%;
}

#app {
	position: fixed;
	inset: 0;
	overflow: hidden;
}

canvas {
	display: block;
	outline: none;
	background-color: #151515;
}
